* {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}
#main {
    font-size: 100px;
    font-weight: bold;
    font-family: 'Old English Five', sans-serif;
    margin: auto;
    margin-top: 137px;
    border-radius: 5px;
    width: 800px;
    padding: 8px;
}
.card {
    width: 612px;
    margin: 16px auto;
    padding: 8px;
    border-radius: 5px;
    left: 50%;
}
.title, .card_title, .text, .editor_text, .para, h3, .head {
    margin-bottom: 8px;
    padding: 8px;
}
.list, .card2_content {
    margin-bottom: 8px;
    padding: 16px 8px 1px;
}
.title_list_content {
    margin: 8px 0px 8px;
    padding: 1x 8px 1px;
    font-size: 24px;
}
.text, li {
    font-size: 24px;
    font-weight: lighter;
}
.home_list {
    padding-left: 60px;
    margin-left: 34px;
    margin-right: 34px;
    text-align: center;
}
.button {
    position: relative;
    background: #fff;
    color: rgb(82, 82, 82);
    text-decoration: none;
    font-size: 34px;
    letter-spacing: 0.1em;
    font-weight: bold;
    padding: 10px 30px;
    transition: 0.5s;
    color: rgb(82, 82, 82);
}
.button:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    background: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}
.button::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;

}
.button span {
    position: relative;
    z-index: 1;
}
.button i {
    position: absolute;
    inset: 0;
    display: block;
}
.button i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}
.button:hover i::before {
    width: 20px;
    left: 20%;
}
.button i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}
.button:hover i::after {
    width: 20px;
    left: 80%;
}
.background_image_main {background-image: url(images/gray_sky1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.background_image_cheesecake {background-image: url(images/luxury-white-kitchen.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.recipe_buttons {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 50vh;
   flex-direction: column;
   gap: 20px;


}
.para {
    color: rgb(82, 82, 82);
    font-size: 17px;
    font-weight: bold;
}
.text_color {
    color: rgb(82, 82, 82);
}
.editor_text, .text_color {
    font-size: 12px;
    font-weight: bold;
}
.head {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#main {
    text-align: center;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
    list-style: none;
    margin: 0; 
    background: deepskyblue;
  }
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  .navigation a:hover {
    background: #1565C0;
  }
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  @media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }