h1{
    color: black;
    background-color: white;
    font-size: 100px;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    
}
.origin {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}
.text {
    font-size: 50px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}